[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "CommonLibVR"]
	path = CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
